.Ascendant
{
    content: url("./Ascendant_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Scion
{
    content: url("./Scion_character_class.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Necromancer
{
    content: url("./Necromancer_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Assassin
{
    content: url("./Assassin_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Berserker
{
    content: url("./Berserker_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Champion
{
    content: url("./Champion_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Chieftain
{
    content: url("./Chieftain_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Deadeye
{
    content: url("./Deadeye_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Duelist
{
    content: url("./Duelist_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Elementalist
{
    content: url("./Elementalist_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Gladiator
{
    content: url("./Gladiator_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Guardian
{
    content: url("./Guardian_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Hierophant
{
    content: url("./Hierophant_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Inquisitor
{
    content: url("./Inquisitor_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Juggernaut
{
    content: url("./Juggernaut_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Marauder
{
    content: url("./Marauder_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Occultist
{
    content: url("./Occultist_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Pathfinder
{
    content: url("./Pathfinder_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Raider
{
    content: url("./Raider_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Ranger
{
    content: url("./Ranger_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Saboteur
{
    content: url("./Saboteur_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Shadow
{
    content: url("./Shadow_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Slayer
{
    content: url("./Slayer_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Templar
{
    content: url("./Templar_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Trickster
{
    content: url("./Trickster_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}
.Witch
{
    content: url("./Witch_avatar.png");
    float:left; 
    display:inline;
    width: 95px;
    height: auto; 
}